node-red-flow.json
[{"id":"f4e3248e.fd2f68","type":"http in","z":"7666fcc7.11757c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":60,"y":60,"wires":[["1d6ddc8d.c34aab","a680673f.80ebd"]]},{"id":"4c14de6e.ff4fe","type":"http response","z":"7666fcc7.11757c","name":"","statusCode":"","headers":{},"x":410,"y":60,"wires":[]},{"id":"1d6ddc8d.c34aab","type":"function","z":"7666fcc7.11757c","name":"","func":"msg.payload = '{data:data_form_cloud_foundry_over_proxy}'\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["4c14de6e.ff4fe","e442bc7f.3ceb18"]]},{"id":"e442bc7f.3ceb18","type":"debug","z":"7666fcc7.11757c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":120,"wires":[]},{"id":"a680673f.80ebd","type":"debug","z":"7666fcc7.11757c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":120,"wires":[]},{"id":"938a0a34.29e54","type":"http in","z":"7666fcc7.11757c","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":70,"y":200,"wires":[["c33442ec.6cf4f8","d740e91e.094e1"]]},{"id":"ce42137a.483dc8","type":"http response","z":"7666fcc7.11757c","name":"","statusCode":"","headers":{},"x":430,"y":200,"wires":[]},{"id":"c33442ec.6cf4f8","type":"function","z":"7666fcc7.11757c","name":"","func":"msg.payload = '{data:data_form_cloud_foundry_over_proxy}'\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["ce42137a.483dc8","2f56a9b9.13908e"]]},{"id":"2f56a9b9.13908e","type":"debug","z":"7666fcc7.11757c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":280,"wires":[]},{"id":"d740e91e.094e1","type":"debug","z":"7666fcc7.11757c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":170,"y":280,"wires":[]},{"id":"23636ffa.6b0b38","type":"http in","z":"7666fcc7.11757c","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":60,"y":360,"wires":[["4489b8df.796238","cdb478da.87991"]]},{"id":"69b011a9.e27d78","type":"http response","z":"7666fcc7.11757c","name":"","statusCode":"","headers":{},"x":410,"y":360,"wires":[]},{"id":"4489b8df.796238","type":"function","z":"7666fcc7.11757c","name":"","func":"msg.payload = '{data:data_form_cloud_foundry_over_proxy}'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["69b011a9.e27d78","839eb9f6.22582"]]},{"id":"839eb9f6.22582","type":"debug","z":"7666fcc7.11757c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":420,"wires":[]},{"id":"cdb478da.87991","type":"debug","z":"7666fcc7.11757c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":190,"y":420,"wires":[]},{"id":"4cb7e50e.0f6a84","type":"http in","z":"7666fcc7.11757c","name":"","url":"/data","method":"patch","upload":false,"swaggerDoc":"","x":70,"y":500,"wires":[["cdad0ac3.2f0b2","38adeda2.78e442"]]},{"id":"a2453cf0.2dce8","type":"http response","z":"7666fcc7.11757c","name":"","statusCode":"","headers":{},"x":410,"y":500,"wires":[]},{"id":"cdad0ac3.2f0b2","type":"function","z":"7666fcc7.11757c","name":"","func":"msg.payload = '{data:data_form_cloud_foundry_over_proxy}'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["a2453cf0.2dce8","a32cee97.bd92c"]]},{"id":"a32cee97.bd92c","type":"debug","z":"7666fcc7.11757c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":560,"wires":[]},{"id":"38adeda2.78e442","type":"debug","z":"7666fcc7.11757c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":190,"y":560,"wires":[]},{"id":"9da23de3.bf7da8","type":"http in","z":"7666fcc7.11757c","name":"","url":"/data","method":"delete","upload":false,"swaggerDoc":"","x":70,"y":620,"wires":[["72ddc3a5.1b433c","c28a3672.21fc58"]]},{"id":"25090c29.eef9fc","type":"http response","z":"7666fcc7.11757c","name":"","statusCode":"","headers":{},"x":410,"y":620,"wires":[]},{"id":"72ddc3a5.1b433c","type":"function","z":"7666fcc7.11757c","name":"","func":"msg.payload = '{data:data_form_cloud_foundry_over_proxy}'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":620,"wires":[["25090c29.eef9fc","22ea05d0.f7af1a"]]},{"id":"22ea05d0.f7af1a","type":"debug","z":"7666fcc7.11757c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":680,"wires":[]},{"id":"c28a3672.21fc58","type":"debug","z":"7666fcc7.11757c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":190,"y":680,"wires":[]}]